
.card-demo-8frame{
    width:30%;
    height:18rem;
    border:1px solid orange;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.card-image-demo-8frame{
    background: url("../../../Assets/Images/PreviewCard/Demo8Frame-PrevCard.jpg");
    background-size: cover;
    background-position:center;
    width:100%;
    height:13rem;
}

.card-info-demo-8frame{
    text-align: center;
}

.card-name-demo-8frame{
     font-size: 1.2rem;
     margin:0.5rem;
}

.card-price-demo-8frame{
    font-size: 1.2rem;
    margin:0.5rem;
}

.card-color-demo-8frame{
    background:url("../../../Assets/Icons&Logos/PrevCard/Demo8.svg");
    background-size: cover;
    background-position:center;
    width:1rem;
    height:1rem;
    margin: 0 auto;

}

@media screen and(max-width:800px){
    .card-demo-8frame{
        min-width:45%;
        height:18rem;
       
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:12rem;
    }
}

@media screen and(max-width:650px){
    .card-demo-8frame{
        min-width:80%;
        height:22rem;
      
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:15rem;
    }
}

@media screen and(min-width:1300px){
    .card-demo-8frame{
        width:30%;
        height:20rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:13rem;
    }
}

@media screen and(min-width:1650px){
    .card-demo-8frame{
        width:30%;
        height:18rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:15.5rem;
    }
}

@media screen and(min-width:2000px){
    .card-demo-8frame{
        width:30%;
        height:23rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:18.5rem;
    }
}

@media screen and(min-width:2250px){
    .card-demo-8frame{
        width:30%;
        height:23rem;
        margin-bottom: 4rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:21rem;
    }
}

@media screen and(min-width:2500px){
    .card-demo-8frame{
        width:30%;
        height:28rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:23rem;
    }
}

@media screen and(min-width:2800px){
    .card-demo-8frame{
        width:30%;
        height:30rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:25rem;
    }
}

@media screen and(min-width:3000px){
    .card-demo-8frame{
        width:30%;
        height:35rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:28rem;
    }
}

@media screen and(min-width:3200px){
    .card-demo-8frame{
        width:30%;
        height:38rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:32rem;
    }
}

@media screen and(min-width:3800px){
    .card-demo-8frame{
        width:30%;
        height:42rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        
    }

    .card-image-demo-8frame{
      
        width:100%;
        height:36rem;
    }
}

