.banner-downhill{
   
    background:url("../../Assets/Images/Downhill/DownHillHero.jpg");
    width:100%;
    height:50vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.card-container{
    width:100%;

}

.card-flex{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.section-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin:2rem;
}

