.banner-bikes{
        background:url("../../Assets/Images/Bikes/BikesHero.jpg");
        width:100%;
        height:50vh;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }

    .bikes{
        display:flex;
    }